body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 476px; /* Ширина блока todo list */
    height: 688px; /* Высота блока todo list */
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    top: -307px; /* Смещение сверху */
    left: -267px; /* Смещение слева */
    transform: translate(50%, 50%); /* Центрирование блока todo list */
    overflow: hidden; /* Скрываем все, что выходит за пределы блока */
}

.todo-list-title {
    text-align: center;
    margin-bottom: 10px;
}

.input-wrapper {
    position: relative;
    width: 460px; /* Ширина, соответствующая параметрам инпутов */
    margin-bottom: 10px;
}

.input-wrapper input {
    width: calc(100% - 40px); /* Уменьшаем ширину, чтобы учесть отступы и иконку */
    height: 45px; /* Высота, соответствующая параметрам инпутов */
    padding: 0 40px 0 10px; /* Отступ справа для иконки */
    border: 1px solid #ccc;
    border-radius: 6px; /* Радиус скругления границы, соответствующий параметрам инпутов */
    font-size: 16px;
    outline: none;
}

.input-wrapper button {
    position: absolute;
    right: 10px; /* Отступ справа для иконки */
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.div-class {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    /* box-sizing: border-box; */
    width: calc(100% - 55px); 
    height: 45px; 
    padding: 0 40px 0 10px; 
    border: 1px solid #ccc;
    border-radius: 6px; 
    font-size: 16px;
    outline: none;
    margin-top: 10px;
}


.newBtn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding-left: 15px;
    top: 0;
}


.newCheckbox {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;

}


.textDiv {
display: flex;
align-items: center;
justify-content: left;
padding-right: 320px;
}